version: '3.7'
services:
  db:
    image: postgres:12-alpine
    env_file: .env
    ports:
      - '5432:5432'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  mhnu:
    build: ./src
    command: >
      sh -c "./wait-for-it.sh db:5432 -- python manage.py runserver 0.0.0.0:9000"
    env_file: .env
    volumes:
      - ./src:/src
    depends_on:
      - db
    environment:
      - DJANGO_SETTINGS_MODULE=MHNU.settings.local

  nginx:
    image: nginx:alpine
    logging:
      driver: none
    volumes:
      - ./src/static:/static
      - ./src/media:/media
      - ./nginx/local/dev.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"

    depends_on:
      - mhnu

  redis:
      image: 'redis:alpine'
      ports:
        - '6379:6379'

  celery:
    build: ./src
    command: watchmedo auto-restart --directory=/src/ --pattern=*.py --recursive -- celery -A MHNU worker -B -l info
    depends_on:
      - redis
    env_file: .env
    environment:
      - DJANGO_SETTINGS_MODULE=MHNU.settings.local
      - TZ=America/Bogota
    volumes:
      - ./src:/src