{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Etiqueta de registro</title>
  {% if collection_code == 'MHNU-H' %}
    <link rel="stylesheet" href="{% static 'museum/css/herpetologica.css' %}">
  {% elif collection_code == 'MHNU-I' %}
    <link rel="stylesheet" href="{% static 'museum/css/ictiologica.css' %}">
  {% elif collection_code == 'MHNU-MA' %}
    <link rel="stylesheet" href="{% static 'museum/css/macroinvertebrados.css' %}">
  {% elif collection_code == 'MHNU-OD' %}
    <link rel="stylesheet" href="{% static 'museum/css/odonata.css' %}">
  {% endif %}
  <style>
      * {
          margin: 0;
          box-sizing: border-box;
          font-family: Arial, Helvetica, sans-serif;
      }
  </style>
</head>

<body>
{% for record in records %}
  {% if collection_code == 'MHNU-H' %}
    {% include 'museum/records/herpetologica.html' %}
  {% elif collection_code == 'MHNU-I' %}
    {% include 'museum/records/ictiologica.html' %}
  {% elif collection_code == 'MHNU-MA' %}
    {% include 'museum/records/macroinvertebrados.html' %}
  {% elif collection_code == 'MHNU-OD' %}
    {% include 'museum/records/odonata.html' %}
  {% endif %}
{% endfor %}
</body>

</html>