{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Etiqueta de registro</title>
  <link rel="stylesheet" href="{% static 'museum/css/herpetologica.css' %}">
  <link rel="stylesheet" href="{% static 'museum/css/ictiologica.css' %}">
  <link rel="stylesheet" href="{% static 'museum/css/macroinvertebrados.css' %}">
  <style>
      * {
          margin: 0;
          box-sizing: border-box;
          font-family: Arial, Helvetica, sans-serif;
      }
  </style>
</head>

<body>
  {% for record in records %}
    {% if record.collection_code.name == 'MHNU-H' %}
      {% include 'museum/records/herpetologica.html' %}
    {% elif record.collection_code.name == 'MHNU-I' %}
      {% include 'museum/records/ictiologica.html' %}
    {% elif record.collection_code.name == 'MHNU-MA' %}
      {% include 'museum/records/macroinvertebrados.html' %}
    {% endif %}
  {% endfor %}
</body>

</html>