{% load static %}
{% load qr_code %}

<div class="mastozoologica-label">
  <span class="divisor"></span>
  <span class="divisor"></span>
  <div class="first-content">
    <div class="wrapper">
      <div class="titles">
        <p><strong>Museo de Historia Natural</strong></p>
        <p><strong>Colección de Mastozoología</strong></p>
      </div>
      <div class="catalog-number">
        <p>{{ record.catalog_number }}</p>
      </div>
    </div>
    <div class="data">
      <div class="d-flex">
        <span>Especie</span><span class="especie">{{ record.scientific_name.name }}</span>
      </div>
      <div class="d-flex">Colector<span class="colector"></span></div>
      <div class="d-flex">
        <span style="width: 160px">Número de campo</span>
        <span class="campo"></span>
      </div>
      <p style="margin-bottom: 5px">
        Sexo<span class="sex">{{ record.sex }}</span>
        MC<span class="short"></span>
        LT<span class="short"></span>
        LC<span class="short"></span>
      </p>
      <p>
        AB<span class="short"></span>
        LP<span class="short"></span>
        LO<span class="short"></span>
        TP<span class="short"></span>
      </p>
    </div>
    <img class="logo" src="{% static 'museum/img/logo.png' %}" alt="logo" width="40px">
    <div class="qr-wrapper">
      {% qr_from_text 'otro hello wordl!' image_format="png" size=2 %}
    </div>
  </div>
  <span class="divisor"></span>
  <span class="divisor"></span>
  <div class="second-content">
    <div class="d-flex mb-5">
      <div class="country">
        País<span class="short">{{ record.country.name }}</span>
      </div>
      <div class="state">
        Departamento<span class="short">{{ record.county.state_province.name }}</span>
      </div>
    </div>
    <div class="d-flex mb-5">Municipio<span class="county">{{ record.county.name }}</span></div>
    <div class="d-flex mb-5">Sitio<span class="site"></span></div>
    <div class="d-flex mb-5">
      <div class="height">
        Altura<span class="short">{{ record.minimum_elevation_in_meters|default:'' }}
        {% if record.minimum_elevation_in_meters %}m{% endif %}</span>
      </div>
      <div class="coords">
        Coordenadas<span class="short">
        {{ record.verbatim_latitude|default:'' }}
        {{ record.verbatim_longitude|default:'' }}
      </span>
      </div>
    </div>
    <p class="dates">
      Día<span class="short"></span>
      Mes<span class="short"></span>
      Año<span class="short"></span>
    </p>
    <div class="d-flex">Observaciones<span class="observations"></span></div>
  </div>
</div>