{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Etiqueta de registro</title>
  {% if record.collection_code.name == 'MHNU-H' %}
    <link rel="stylesheet" href="{% static 'museum/css/herpetologica.css' %}">
  {% elif record.collection_code.name == 'MHNU-I' %}
    <link rel="stylesheet" href="{% static 'museum/css/ictiologica.css' %}">
  {% elif record.collection_code.name == 'MHNU-MA' %}
    <link rel="stylesheet" href="{% static 'museum/css/macroinvertebrados.css' %}">
  {% elif record.collection_code.name == 'MHNU-OD' %}
    <link rel="stylesheet" href="{% static 'museum/css/odonata.css' %}">
  {% elif record.collection_code.name == 'MHNU-M' %}
    <link rel="stylesheet" href="{% static 'museum/css/mastozoologica.css' %}">
  {% elif record.collection_code.name == 'MHNU-E' %}
    <link rel="stylesheet" href="{% static 'museum/css/entomologica.css' %}">
  {% elif record.collection_code.name == 'MHNU-O' %}
    <link rel="stylesheet" href="{% static 'museum/css/ornitologica.css' %}">
  {% endif %}
  <style>
      * {
          margin: 0;
          box-sizing: border-box;
          font-family: Arial, Helvetica, sans-serif;
      }
  </style>
  {% block css %}{% endblock css %}
</head>

<body>
{% if record.collection_code.name == 'MHNU-H' %}
  {% include 'museum/records/herpetologica.html' %}
{% elif record.collection_code.name == 'MHNU-I' %}
  {% include 'museum/records/ictiologica.html' %}
{% elif record.collection_code.name == 'MHNU-MA' %}
  {% include 'museum/records/macroinvertebrados.html' %}
{% elif record.collection_code.name == 'MHNU-OD' %}
  {% include 'museum/records/odonata.html' %}
{% elif record.collection_code.name == 'MHNU-M' %}
  {% include 'museum/records/mastozoologica.html' %}
{% elif record.collection_code.name == 'MHNU-E' %}
  {% include 'museum/records/entomologica.html' %}
{% elif record.collection_code.name == 'MHNU-O' %}
  {% include 'museum/records/ornitologica.html' %}
{% endif %}
</body>

</html>