.searchCard {
  padding: 1.5rem;
  box-shadow: 7px 5px 30px rgb(72 73 121 / 15%);
  -webkit-box-shadow: 7px 5px 30px rgb(72 73 121 / 15%);
  background-color: #fff;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 6px 30px;
  color: #fff;
  text-transform: capitalize;
  background-color: #e33b3b;
  border: 1px solid #e33b3b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}

.btn:hover {
  background-color: #c73535;
  background-color: #fff;
  color:#e33b3b
}